<style type='text/css'>h1{
text-align:center;font-family: verdana,arial,sans-serif;font-size:30px;color:#333333;border-width: 1px;border-color: #666666;	border-collapse: collapse;}
            h2{font-family: verdana,arial,sans-serif;font-size:20px;color:#333333;border-width: 1px;border-color: #666666;border-collapse: collapse;}
            table.summary {	font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;border-width: 1px;border-color: #666666;border-collapse: collapse;}
            table.gridtable {font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;border-width: 1px;border-color: #666666;border-collapse: collapse;}
            table.gridtable th {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;}
            table.gridtable td {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;}
            table .FAIL {color: Red;}
            table .PASS {color: Green;}
</style>
<h2>汇总信息</h2>

<table class="summary">
<tr><th align="right">用例名称：</th><td>{{ result['name'] }}</td></tr>
<tr><th align="right">执行数：</th><td>{{ result['totalCount'] }}</td></tr>
<tr><th align="right">通过数：</th><td class="PASS">{{ result['passCount'] }}</td></tr>
<tr><th align="right">失败数：</th><td class="FAIL">{{ result['failCount'] }}</td></tr>
<tr><th align="right">测试时间：</th><td>{{ result['testtime'] }}</td></tr>
<tr><th align="right">执行时间：</th><td>{{ result['duration'] }}秒</td></tr>
<tr><th align="right">执行报告：</th><td><a href="{{ result['reportUrl'] }}">报告链接</a></td></tr>
</table>

<h2>执行详情</h2>
{% if result['failCount']>0 %}
<h4>失败:</h4>
<table class="gridtable">
			  <tr>
				<th style="width:5%">ID</th>
				<th style="width:20%">名称</th>
				<th style="width:5%">结果</th>
				<th style="width:10%">执行时间(毫秒)</th>
				<th style="width:15%">测试时间</th>
				<th style="width:25%">备注</th>
			</tr>
			{% for testResult in failedResults %}
				<tr>
					<td align=center style="width:5%">{{ testResult['id'] }}</td>
					<td style="width:20%"><a href="{{ testResult.resultUrl }}">{{ testResult['name'] }}</a></td>
					<td align=center style="width:5%;color:{{ testResult['color'] }}">{{ testResult['status'] }}</td>
					<td align=center style="width:10%">{{ testResult['duration'] }}</td>
					<td align=center style="width:15%">{{ testResult['testtime'] }}</td>
					<td style="width:25%">{{ testResult['description'] }}</td>
				</tr>
			{% endfor %}
</table>
{% endif %}
{% if result['passCount']>0 %}
<h4>通过:</h4>
<table class="gridtable">
			  <tr>
				<th style="width:5%">ID</th>
				<th style="width:20%">名称</th>
				<th style="width:5%">结果</th>
				<th style="width:10%">执行时间(毫秒)</th>
				<th style="width:15%">测试时间</th>
				<th style="width:25%">备注</th>
			</tr>
			{% for testResult in passedResults %}
				<tr>
					<td align=center style="width:5%">{{ testResult['id'] }}</td>
					<td style="width:20%"><a href="{{ testResult.resultUrl }}">{{ testResult['name'] }}</a></td>
					<td align=center style="width:5%;color:{{ testResult['color'] }}">{{ testResult['status'] }}</td>
					<td align=center style="width:10%">{{ testResult['duration'] }}</td>
					<td align=center style="width:15%">{{ testResult['testtime'] }}</td>
					<td style="width:25%">{{ testResult['description'] }}</td>
				</tr>
			{% endfor %}
</table>
{% endif %}
